{% extends "recipes/base.html" %}
{% block content %}
<div class="row my-4">
  <div class="col-9">
    <h3>Kategorien</h3>
  </div>
  <div class="col-3">
    <a class="btn btn-secondary" href="{% url 'category-create' %}">Kategorie<i class="col-2 fas fa-plus"></i></a>
  </div>
</div>
<div class="card-columns">
  {% for cat, recipe in categories %}
  <div class="card">
    <div class="card-header">
      <h5 class="card-title text-center"><a class="recipe-card-link"
          href="{% url 'category-recipes' cat.title %}">{{ cat.title }}</a></h5>
    </div>
    <div class="card-body">
      {% if cat.get_recipes|length < 1 %}
      <p class="card-text text-center">Bisher keine Rezepte in dieser Kategorie.</p>
      {% else %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Rezepte in dieser Kategorie</li>
        {% if cat.get_recipes|length > 2 %}
        <li class="list-group-item"><a class="recipe-card-link"
            href="{% url 'recipe-detail' cat.get_recipes.0.pk %}">{{ cat.get_recipes.0.title }}</a></li>
        <li class="list-group-item"><a class="recipe-card-link"
            href="{% url 'recipe-detail' cat.get_recipes.1.pk %}">{{ cat.get_recipes.1.title }}</a></li>
        <li class="list-group-item"><a class="recipe-card-link"
            href="{% url 'category-recipes' cat.title %}">...mehr...</a></li>
        {% else %}
        {% for rec in cat.get_recipes %}
        <li class="list-group-item"><a class="recipe-card-link"
            href="{% url 'recipe-detail' rec.pk %}">{{ rec.title }}</a></li>
        {% endfor %}
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% if is_paginated %}
{% include "recipes/pagination.html" %}
{% endif %}
{% endblock content %}