{% extends "recipes/base.html" %} {% block content %} {% for cat in categories %}
<h2><a class="recipe-title" href="{% url 'category-recipes' cat.pk %}">{{ cat.title }}</a></h2>
<recipe class="media content-section">
  <div class="media-body">
    {% if cat.random_recipe %}
    <h4><a class="recipe-title-small" href="{% url 'recipe-detail' cat.random_recipe.id %}">{{ cat.random_recipe.title }}</a></h4>
    <img class="recipe-img-small" src="{{ cat.random_recipe.image.url }}"> {% else %}
    <p>No Recipes for this category yet.</p>
    {% endif %}
  </div>
</recipe>
{% endfor %}
{% if is_paginated %}
    {% include "recipes/pagination.html" %}
{% endif %}
{% endblock content %}
