{% extends "recipes/base.html" %} {% block content %}
<h1 class="mb-3">Recipes for Category {{ cat_title }} ({{ recipes.paginator.count }})</h1> {% for recipe in recipes %}
<recipe class="media content-section">
  <div class="media-body">
    <div class="recipe-metadata">
      {% for cat in recipe.get_categories %}
      <a href="{% url 'category-recipes' cat.pk %}" class="badge badge-primary">{{ cat.title }}</a> {% endfor %}
      <small class="text-muted">{{ recipe.prep_time }}</small>
      <span style="float:right;">
                <a class="mr-2" href="{% url 'user-recipes' recipe.author.username%}">{{ recipe.author }}</a>
            </span>
    </div>
    <h2><a class="recipe-title" href="{% url 'recipe-detail' recipe.id %}">{{ recipe.title }}</a></h2>
    <img class="recipe-img" src="{{ recipe.image.url }}">
  </div>
</recipe>
{% endfor %}
{% if recipes.paginator.num_pages > 1 %}
  {% include "recipes/pagination.html" with page_obj=recipes %}
{% endif %}
{% endblock content %}
