{% extends "recipes/base.html" %}
{% block content %}
    {% for recipe in recipes %}
    <recipe class="media content-section">
      <div class="media-body">
          <div class="recipe-metadata">
            {% for cat in recipe.get_categories %}
                <a class="mr-2" href="#">{{ cat.title }}</a>
            {% endfor %}
            <small class="text-muted">{{ recipe.prep_time }}</small>
          </div>
          <h2><a class="recipe-title" href="{% url 'recipe-detail' recipe.id %}">{{ recipe.title }}</a></h2>
          <img class="recipe-img" src="{{ recipe.image.url }}">
        </div>
    </recipe>
    {% endfor %}
{% endblock content %}
