<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: purple">
    <a class=" navbar-brand" href="{% url 'recipes-home' %}">Rezepte</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'recipes-home' %}">Rezepte</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'recipes-categories' %}">Kategorien</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        <form class="form-inline my-2 my-lg-0" id="searchform" accept-charset="utf-8">
            <input class="form-control mr-sm-2" id="searchbox" name="q" type="text" value="{{request.GET.q}}"
                placeholder="Suche" aria-label="Suche">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>