{% load static %}
<div class="card text-black">
  <img class="card-img"
    src="{% if recipe.get_primary_image.get_url %} {{ recipe.get_primary_image.get_url }} {% else %} {% static 'recipes/default.jpg' %} {% endif %}"
    alt="Bild für {{ recipe.title }}">
  <div class="card-footer bg-transparent">
    <h5 class="card-title text-center"><a class="recipe-card-link"
        href="{% url 'recipe-detail' recipe.id %}">{{ recipe.title }}</a> {% if not recipe.public %}<i
        class="fas fa-lock fa-xs text-muted"></i>{% endif %} </h5>
    <hr>
    <p class="card-text text-center recipe-card-intro">{{ recipe.introduction }}</p>
    <hr>
    <div class="text-center">
      {% for cat in recipe.get_categories %}
        <a href="{% url 'category-recipes' cat.title %}" class="badge badge-light mr-2">{{ cat.title }}</a>
      {% endfor %}
    </div>
  </div>
</div>