{% load static %}
<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-8">
          <i class="far fa-clock"></i>
          {{ recipe.prep_time }}
        </div>
        <div class="col-4">
          <a class="recipe-card-link" href="{% url 'user-recipes' recipe.author.username%}"><i
              class="fas fa-user"></i> {{ recipe.author }}</a>
        </div>
      </div>
    </div>
    <img class="card-img-top" src="{% if recipe.get_primary_image.get_url %} {{ recipe.get_primary_image.get_url }} {% else %} {% static 'recipes/default.jpg' %} {% endif %}" alt="Bild für {{ recipe.title }}">
    <div class="card-body">
      <h5 class="card-title text-center"><a class="recipe-card-link"
          href="{% url 'recipe-detail' recipe.id %}">{{ recipe.title }}</a> {% if not recipe.public %}<i class="fas fa-lock fa-xs text-muted"></i>{% endif %} </h5>
      <hr>
      <p class="card-text text-center">{{ recipe.introduction }}</p>
      {{ recipe.modified }}
    </div>
    <div class="card-footer text-center">
      {% for cat in recipe.get_categories %}
      <a href="{% url 'category-recipes' cat.title %}" class="badge badge-light">{{ cat.title }}</a>
      {% endfor %}
    </div>
  </div>