.recipe-card-link {
    color: purple;
}

.recipe-card-link:hover {
    color: plum;
    text-decoration: none;
}

.recipe-detail-title {
    color: purple;
}

.recipe-detail-ingredients {
    color: purple;
}

.recipe-detail-instructions {
    color: purple;
}

.recipe-detail-link {
    color: purple;
}

.recipe-detail-link:hover {
    color: plum;
    text-decoration: none;
}