.recipe-card-title {
    color: purple;
}

.recipe-card-title:hover {
    color: plum;
    text-decoration: none;
}

.recipe-card-author {
    color: purple
}

.recipe-card-author:hover {
    color: plum;
    text-decoration: none;
}

.recipe-detail-title {
    color: purple;
}

.recipe-detail-ingredients {
    color: purple;
}

.recipe-detail-instructions {
    color: purple;
}