body {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

.navbar-recipes {
    background-color: #f8f9fa;
}

/* change the brand and text color */
.navbar-recipes .navbar-brand,
.navbar-recipes .navbar-text {
    color: purple;
}

/* change the link color */
.navbar-recipes .navbar-nav .nav-link {
    color: purple;
    font-size: large;
}

/* change the link color */
.navbar-recipes .nav-link {
    color: purple;
}

/* change the color of active or hovered links */
.navbar-recipes .nav-item.active .nav-link,
.navbar-recipes .nav-item:hover .nav-link {
    color: plum;
}

.recipe-card-link {
    font-family: 'Shadows Into Light';
    font-size: 30px;
    color: purple;
}

.recipe-card-link:hover {
    color: plum;
    text-decoration: none;
}

.recipe-card-link-small {
    font-size: 20px;
    color: purple;
}

.recipe-card-link-small:hover {
    color: plum;
    text-decoration: none;
}

.recipe-detail-title {
    color: purple;
}

.recipe-detail-ingredients {
    color: purple;
}

.recipe-detail-instructions {
    color: purple;
}

.recipe-detail-link {
    color: purple;
}

.recipe-detail-link:hover {
    color: plum;
    text-decoration: none;
}


.nav-link-button {
    border-color: #ced4da !important;
}

.nav-link-button:hover {
    background-color: #ced4da !important;
}

.btn-outline-recipe {
    outline-color: purple;
}

.overview-title {
    font-family: 'Shadows Into Light';
}